*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

AirTravels/.classpath
AirTravels/.project
AirTravels/.gradle/*
AirTravels/bin/*
AirTravels/.settings/*
AirTravels/src/.settings/*
*.DS_Store


SemWebProject/.idea/*
SemWebProject/node_modules/*
SemWebProject/node_modules/
SemWebProject/*.log
MyDatabase/.*

NManagerConsole/.idea/

NManagerConsole/node_modules

NMService/.gradle/

NMService/.settings
