<!DOCTYPE html>
<html lang="en" ng-app="fireApp">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
testing....

<div ng-controller="SampleCtrl">
    {{data}}
</div>
<!-- AngularJS -->
<script src="../lib/angular.min.js"></script>
<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
<script src="../app/app.js"></script>
</body>
</html>