<!DOCTYPE html>

<html lang="en" ng-app="adminApp">

<head>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="subbramanian">

<title>Semantic Web Home</title>

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/sb-admin.css" rel="stylesheet">

</head>
<body>

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#Dashboard">Veteran Health Administration & Info. System</a>
			</div>

			<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
					<li class="active"><a href="#Dashboard"><i
							class="fa fa-fw fa-dashboard"></i>Dashboard</a></li>
					<li><a href="#Surgery"><i class="fa fa-fw fa-desktop"></i>
							Surgery Types</a></li>
					<li><a href="#Patients"><i class="fa fa-fw fa-desktop"></i>
						Patients Types</a></li>
					<li><a href="#Infrastructure"><i class="fa fa-fw fa-wrench"></i> Infrastructure</a></li>
					<li><a href="#AboutUS"><i class="fa fa-fw fa-wrench"></i> About Team </a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>

		<div id="page-wrapper">

			<div class="container-fluid">

				<div class="row" ng-view="">

				</div>

			</div>
			<!-- /.container-fluid -->

		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->
	<!-- jQuery -->
	<script src="js/jquery.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
	<script src="http://www.google.com/jsapi"></script>
	<script src="js/jquery.csv-0.71.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="js/vizScript.js"></script>
	<script src="js/script.js"></script>
</body>

</html>
