<div class="mdl-card flex-item mdl-shadow--2dp demo-card-square" ng-controller="dashBoardController">
  <div class="mdl-card__title mdl-card--expand">
    <div class="circle" id="circles-1"></div>
    <div class="mdl-card__supporting-text">
        <label>Total Paths: </label>{{totalData}}        
      </div>
      <div class="mdl-card__supporting-text">
        <label>No of errors: </label>{{errorData}}        
      </div> 
  </div>   
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      View Updates
    </a>
  </div>
</div>