<div class="mdl-card mdl-shadow--2dp" ng-controller="pathController">
    <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
        <i class="mdl-color-text--red-400 material-icons">{{pathData.packetStaticData.isFlag}}</i>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
         Source --> {{pathData.packetStaticData.srcIP}} : {{pathData.packetStaticData.srcPort}}
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        Destination --> {{pathData.packetStaticData.destIP}} : {{pathData.packetStaticData.destPort}}
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a href="#pathInfo" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="viewPath(pathData)">
        View Details
      </a>
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button&#45;&#45;icon"
        ng-click="viewPath(pathData)" href="#pathInfo">
            <i class="material-icons">arrow_forward</i>
        </a>
    </div>
</div>
